
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center" style="color:#0db12f">Quy Định</h2>
<div class="jumbotron">
<p>Người dùng có thể thay đổi các quy định như sau</p>
<li>QĐ1: Thay đổi số lượng và đơn giá các loại phòng</li>
<li>QĐ2: Thay đổi số lượng khách ,số lượng khách tối đa trong phòng</li>
<li>QĐ4: Thay đổi tỉ lệ thu</li>
</div>
