@model IEnumerable<QuanLiKS.Models.Phong>

@{
    ViewBag.Title = "DSPhong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Danh sách phòng</h2>


    <!-- Breadcrumbs-->
    @*<ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#"></a>
        </li>
        <li class="breadcrumb-item active"></li>
    </ol>*@
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Bảng danh sách phòng
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable"  cellspacing="0">
                    <thead>
                        <tr>
                            <th>MaPhong</th>
                            <th>MaLoaiPhong</th>
                            <th>DonGia</th>
                            <th>TinhTrang</th>
                        </tr>

                    </thead>
                    <tfoot>
                        <tr>
                            <th>MaPhong</th>
                            <th>MaLoaiPhong</th>
                            <th>DonGia</th>
                            <th>TinhTrang</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
    {
                        <tr>
                            <td>@item.MaPhong</td> 
                            <td>@item.LoaiPhong.MaLoaiPhong</td>
                            <td>@item.LoaiPhong.Gia</td>
                            <td>@item.TinhTrang</td>
                        </tr>
}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
